<section>
<%= form_for @experiment do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title,        placeholder: "title"        %></p>

  <p><%= f.label :summary %></p>
  <p><%= f.text_field :summary,        placeholder: "summary"        %></p>

  <p><%= f.submit %></p>
<% end %>
</section>
