<div class='form'>
<%= form_for @experiment, url: proposal_experiments_path do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title,        placeholder: "title"        %></p>

  <p><%= f.label :summary %></p>
  <p><%= f.text_area :summary %></p>

  <p><%= f.submit %></p>
<% end %>
</div>
