<section>
<%= form_for @experiment do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title,        placeholder: "title"        %></p>

  <p><%= f.label :methodology %></p>
  <p><%= f.text_area :methodology,   placeholder: "methodology"  %></p>

  <p><%= f.label :observations %></p>
  <p><%= f.text_area :observations,  placeholder: "observations" %></p>

  <p><%= f.label :conclusion %></p>
  <p><%= f.text_area :conclusion,    placeholder: "conslusion"   %></p>

  <p><%= f.submit %></p>
<% end %>
</section>
