<section>
  <h3>Proposal</h3>
  <h2><%= @proposal.title %></h2>
  <% if current_user.role == "researcher" %>
    <%= button_to "Run an Experiment", new_proposal_experiment_path(@proposal), method: :get %>
  <% end %>

  <% if current_user.id == @proposal.faculty.id %>
    <%= button_to "Edit Proposal", edit_proposal_path(@proposal), method: :get %>
  <% end %>

  <dl>
    <dt>Faculty Sponsor</dt>
    <dd><%= @proposal.faculty.name %></dd>
    <dt>Date Created</dt>
    <dd><%= @proposal.created_at.strftime("%d %b, %Y") %></dd>
    <dt>Last Updated</dt>
    <dd><%= @proposal.updated_at.strftime("%d %b, %Y") %></dd>
  </dl>

  <section class="hypothesis-container">
    <h3>Hypothesis</h3>
    <p><%= @proposal.hypothesis %></p>
  </section>

  <section class="background-container">
    <h3>Background</h3>
    <p><%= @proposal.background %></p>
  </section>

  <section>
  <h3>Experiments</h3>
  <section>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Researcher</th>
          <th>Date Created</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <%= render @proposal.experiments %>
      </tbody>
    </table>
  </section>
  </section>

<br>
<br>
  <section>
    <h3>Comments</h3>
    <%= button_to "Add Comment", new_proposal_comment_path(@proposal), method: :get %>
    <%= render @proposal.comments %>
  </section>
</section>





<!-- viewer specific edit/delete button options if current_user == proposal.faculty.id-->
